@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* @font-face {
  font-family: "GenshinFont";
  src: url("./Genshin\ Impact.ttf") format("truetype");
} */

* {
  font-family: "Poppins";
  box-sizing: border-box;
  /* color: white; */
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./Chiori.full.4090310.jpg") center/cover no-repeat;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
}

/* CSS for Header */
header {
  background-color: #925e11bb;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.logo {
  font-size: 18px;
}

.logo-link {
  color: #fff;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-link {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin-left: 20px;
}

.hamburger-menu {
  display: none;
}

#calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(80vh - 40px); /* Subtract the height of the header */
  margin-top: 40px; /* Distance between the section and the header */
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); */
}

.input-group {
  margin-bottom: 20px; /* Spacing between input groups */
}

.input-group label {
  margin-left: 10px;
  margin-right: 10px; /* Spacing between label and input */
  font-weight: 600;
  color: #cf8516;
}

.input-group input {
  padding: 8px;
  color: #cf8516;
  font-weight: 600;
  border: 2px solid #cf8516;
  border-radius: 50px;
}

#calculator h2 {
  margin-bottom: 20px; /* Spacing below the heading */
  color: #f3a227;
}

#calculator .cont-p {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  color: #f3a227;
  font-size: 20px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin-bottom: 15px;
  border-radius: 25px;
}

.highlight {
  font-weight: bold;
}

.note {
  color: #86460a;
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .line {
    width: 30px;
    height: 2px;
    background-color: #fff;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 24px;
    /* left: 0; */
    right: 0;
    width: 30%;
    height: 100vh;
    background-color: #925e11bb;
    padding: 20px;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-link {
    margin-bottom: 10px;
  }

  #calculator {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .input-group label {
    display: inline; /* Display labels inline for smaller screens */
    margin-right: 5px; /* Reduce spacing between label and input */
    margin-bottom: 0; /* Remove bottom margin for labels */
  }
}
